<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <alias alias="AuditLoggingAroundAdvice" type="SSH.Core.Aspect.AuditLoggingAroundAdvice, SSH.Core" />

    <!-- Start RequestInfo context type alias -->
    <alias alias="ISSHRequestInfo" type="SSH.Core.Infrastructure.ISSHRequestInfo, SSH.Core" />
    <alias alias="RequestInfo" type="SSH.API.Infrastructure.RequestInfo, SSH.API" />
    <!-- End RequestInfo context type alias -->

    <alias alias="ApplicationUserStore" type="SSH.Core.Infrastructure.ApplicationUserStore, SSH.Core" />
    <alias alias="ApplicationUserManager" type="SSH.Core.Infrastructure.ApplicationUserManager, SSH.Core"/>

    <alias alias="ApplicationRoleManager" type="SSH.Core.Infrastructure.ApplicationRoleManager, SSH.Core" />
    <alias alias="ApplicationRoleStore" type="SSH.Core.Infrastructure.ApplicationRoleStore, SSH.Core"/>

    <alias alias="IExceptionHelper" type="SSH.Core.Infrastructure.IExceptionHelper, SSH.Core" />
    <alias alias="ExceptionHelper" type="SSH.API.Infrastructure.ExceptionHelper, SSH.API"/>

    <alias alias="IHangfireIntegeration" type="SSH.Core.Infrastructure.IHangfireIntegeration, SSH.Core" />
    <alias alias="HangfireIntegeration" type="SSH.API.Infrastructure.HangfireIntegeration, SSH.API"/>

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ISSHUnitOfWork" type="SSH.Core.IRepository.ISSHUnitOfWork, SSH.Core" />
    <alias alias="UnitOfWork" type="SSH.Repository.UnitOfWork, SSH.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->


    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IAuditRepository" type="SSH.Core.IRepository.IAuditRepository, SSH.Core" />
    <alias alias="AuditRepository" type="SSH.Repository.AuditRepository, SSH.Repository" />

    <alias alias="IUserRepository" type="SSH.Core.IRepository.IUserRepository, SSH.Core" />
    <alias alias="UserRepository" type="SSH.Repository.UserRepository, SSH.Repository" />

    <alias alias="IEmailNotificationRepository" type="SSH.Core.IRepository.IEmailNotificationRepository, SSH.Core" />
    <alias alias="EmailNotificationRepository" type="SSH.Repository.EmailNotificationRepository, SSH.Repository" />

    <alias alias="IOTPRepository" type="SSH.Core.IRepository.IOTPRepository, SSH.Core" />
    <alias alias="OTPRepository" type="SSH.Repository.OTPRepository, SSH.Repository" />

    <alias alias="IPushNotificationRepository" type="SSH.Core.IRepository.IPushNotificationRepository, SSH.Core" />
    <alias alias="PushNotificationRepository" type="SSH.Repository.PushNotificationRepository, SSH.Repository" />

    <alias alias="ILOVRepository" type="SSH.Core.IRepository.ILOVRepository, SSH.Core" />
    <alias alias="LOVRepository" type="SSH.Repository.LOVRepository, SSH.Repository" />

    <alias alias="IUserRolePermissionRepository" type="SSH.Core.IRepository.IUserRolePermissionRepository, SSH.Core" />
    <alias alias="UserRolePermissionRepository" type="SSH.Repository.UserRolePermissionRepository, SSH.Repository" />

    <alias alias="IRoleRepository" type="SSH.Core.IRepository.IRoleRepository, SSH.Core" />
    <alias alias="RoleRepository" type="SSH.Repository.RoleRepository, SSH.Repository" />

    <alias alias="IPermissionRepository" type="SSH.Core.IRepository.IPermissionRepository, SSH.Core" />
    <alias alias="PermissionRepository" type="SSH.Repository.PermissionRepository, SSH.Repository" />

    <alias alias="IUserSessionRepository" type="SSH.Core.IRepository.IUserSessionRepository, SSH.Core" />
    <alias alias="UserSessionRepository" type="SSH.Repository.UserSessionRepository, SSH.Repository" />
    
    
    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IAuditService" type="SSH.Core.IService.IAuditService, SSH.Core" />
    <alias alias="AuditService" type="SSH.Service.AuditService, SSH.Service" />

    <alias alias="IUserService" type="SSH.Core.IService.IUserService, SSH.Core" />
    <alias alias="UserService" type="SSH.Service.UserService, SSH.Service" />

    <alias alias="IConfigurationService" type="SSH.Core.IService.IConfigurationService, SSH.Core" />
    <alias alias="ConfigurationService" type="SSH.Service.ConfigurationService, SSH.Service" />

    <alias alias="IEmailNotificationService" type="SSH.Core.IService.IEmailNotificationService, SSH.Core" />
    <alias alias="EmailNotificationService" type="SSH.Service.EmailNotificationService, SSH.Service" />

    <alias alias="IOTPService" type="SSH.Core.IService.IOTPService, SSH.Core" />
    <alias alias="OTPService" type="SSH.Service.OTPService, SSH.Service" />

    <alias alias="IPushNotificationService" type="SSH.Core.IService.IPushNotificationService, SSH.Core" />
    <alias alias="PushNotificationService" type="SSH.Service.PushNotificationService, SSH.Service" />

    <alias alias="ILOVService" type="SSH.Core.IService.ILOVService, SSH.Core" />
    <alias alias="LOVService" type="SSH.Service.LOVService, SSH.Service" />

    <alias alias="IAuthService" type="SSH.Core.IService.IAuthService, SSH.Core" />
    <alias alias="AuthService" type="SSH.Service.AuthService, SSH.Service" />

    <alias alias="IUserRolePermissionService" type="SSH.Core.IService.IUserRolePermissionService, SSH.Core" />
    <alias alias="UserRolePermissionService" type="SSH.Service.UserRolePermissionService, SSH.Service" />

    <alias alias="IRoleService" type="SSH.Core.IService.IRoleService, SSH.Core" />
    <alias alias="RoleService" type="SSH.Service.RoleService, SSH.Service" />

    <alias alias="IPermissionService" type="SSH.Core.IService.IPermissionService, SSH.Core" />
    <alias alias="PermissionService" type="SSH.Service.PermissionService, SSH.Service" />

    <alias alias="IUserSessionService" type="SSH.Core.IService.IUserSessionService, SSH.Core" />
    <alias alias="UserSessionService" type="SSH.Service.UserSessionService, SSH.Service" />
    
    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />
      <register type="ISSHRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="ApplicationUserStore" mapTo="ApplicationUserStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>
      <register type="ApplicationRoleStore" mapTo="ApplicationRoleStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>

      <register type="ApplicationRoleManager" mapTo="ApplicationRoleManager" />
      <register type="ApplicationUserManager" mapTo="ApplicationUserManager" />
      <register type="IExceptionHelper" mapTo="ExceptionHelper" />
      <register type="IHangfireIntegeration" mapTo="HangfireIntegeration" />
      <register type="ISSHUnitOfWork" mapTo="UnitOfWork" />
      <register type="IAuditRepository" mapTo="AuditRepository" />
      <register type="IUserRepository" mapTo="UserRepository" />
      <register type="IEmailNotificationRepository" mapTo="EmailNotificationRepository" />
      <register type="IOTPRepository" mapTo="OTPRepository" />      
      <register type="ILOVRepository" mapTo="LOVRepository" />
      <register type="IUserRolePermissionRepository" mapTo="UserRolePermissionRepository" />
      <register type="IRoleRepository" mapTo="RoleRepository" />
      <register type="IPermissionRepository" mapTo="PermissionRepository" />
      <register type="IUserSessionRepository" mapTo="UserSessionRepository" />
      <register type="IPushNotificationRepository" mapTo="PushNotificationRepository" />
	  
      <register type="IAuthService" mapTo="AuthService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IAuditService" mapTo="AuditService" />
      <register type="IUserService" mapTo="UserService" />
      <register type="ILOVService" mapTo="LOVService" />
      <register type="IUserRolePermissionService" mapTo="UserRolePermissionService" />
      <register type="IRoleService" mapTo="RoleService" />
      <register type="IPermissionService" mapTo="PermissionService" />
      <register type="IUserSessionService" mapTo="UserSessionService" />
      <register type="IConfigurationService" mapTo="ConfigurationService" />
      <register type="IEmailNotificationService" mapTo="EmailNotificationService" />
      <register type="IOTPService" mapTo="OTPService" />
      <register type="IPushNotificationService" mapTo="PushNotificationService" />

    </container>
  </unity>
</configuration>
