<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <alias alias="AuditLoggingAroundAdvice" type="SSH.Core.Aspect.AuditLoggingAroundAdvice, SSH.Core" />

    <!-- Start RequestInfo context type alias -->
    <alias alias="ISSHRequestInfo" type="SSH.Core.Infrastructure.ISSHRequestInfo, SSH.Core" />
    <alias alias="RequestInfo" type="SSH.API.Infrastructure.RequestInfo, SSH.API" />
    <!-- End RequestInfo context type alias -->

    <alias alias="ApplicationUserStore" type="SSH.Core.Infrastructure.ApplicationUserStore, SSH.Core" />
    <alias alias="ApplicationUserManager" type="SSH.Core.Infrastructure.ApplicationUserManager, SSH.Core"/>

    <alias alias="ApplicationRoleManager" type="SSH.Core.Infrastructure.ApplicationRoleManager, SSH.Core" />
    <alias alias="ApplicationRoleStore" type="SSH.Core.Infrastructure.ApplicationRoleStore, SSH.Core"/>

    <alias alias="IExceptionHelper" type="SSH.Core.Infrastructure.IExceptionHelper, SSH.Core" />
    <alias alias="ExceptionHelper" type="SSH.API.Infrastructure.ExceptionHelper, SSH.API"/>

    <alias alias="IHangfireIntegeration" type="SSH.Core.Infrastructure.IHangfireIntegeration, SSH.Core" />
    <alias alias="HangfireIntegeration" type="SSH.API.Infrastructure.HangfireIntegeration, SSH.API"/>

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ISSHUnitOfWork" type="SSH.Core.IRepository.ISSHUnitOfWork, SSH.Core" />
    <alias alias="UnitOfWork" type="SSH.Repository.UnitOfWork, SSH.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->


    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IAuditRepository" type="SSH.Core.IRepository.IAuditRepository, SSH.Core" />
    <alias alias="AuditRepository" type="SSH.Repository.AuditRepository, SSH.Repository" />

    <alias alias="IUserRepository" type="SSH.Core.IRepository.IUserRepository, SSH.Core" />
    <alias alias="UserRepository" type="SSH.Repository.UserRepository, SSH.Repository" />

    <alias alias="IEmailNotificationRepository" type="SSH.Core.IRepository.IEmailNotificationRepository, SSH.Core" />
    <alias alias="EmailNotificationRepository" type="SSH.Repository.EmailNotificationRepository, SSH.Repository" />

    <alias alias="IOTPRepository" type="SSH.Core.IRepository.IOTPRepository, SSH.Core" />
    <alias alias="OTPRepository" type="SSH.Repository.OTPRepository, SSH.Repository" />

    <alias alias="IItemRepository" type="SSH.Core.IRepository.IItemRepository, SSH.Core" />
    <alias alias="ItemRepository" type="SSH.Repository.ItemRepository, SSH.Repository" />

    <alias alias="IPushNotificationRepository" type="SSH.Core.IRepository.IPushNotificationRepository, SSH.Core" />
    <alias alias="PushNotificationRepository" type="SSH.Repository.PushNotificationRepository, SSH.Repository" />

    <alias alias="IJobAssignmentDetailsRepository" type="SSH.Core.IRepository.IJobAssignmentDetailsRepository, SSH.Core" />
    <alias alias="JobAssignmentDetailsRepository" type="SSH.Repository.JobAssignmentDetailsRepository, SSH.Repository" />

    <alias alias="IJobAssignmentRepository" type="SSH.Core.IRepository.IJobAssignmentRepository, SSH.Core" />
    <alias alias="JobAssignmentRepository" type="SSH.Repository.JobAssignmentRepository, SSH.Repository" />
    
    <alias alias="IJobDocumentsRepository" type="SSH.Core.IRepository.IJobDocumentsRepository, SSH.Core" />
    <alias alias="JobDocumentsRepository" type="SSH.Repository.JobDocumentsRepository, SSH.Repository" />

    <alias alias="IJobExceptionsRepository" type="SSH.Core.IRepository.IJobExceptionsRepository, SSH.Core" />
    <alias alias="JobExceptionsRepository" type="SSH.Repository.JobExceptionsRepository, SSH.Repository" />

    <alias alias="IJobInvitesDetailsRepository" type="SSH.Core.IRepository.IJobInvitesDetailsRepository, SSH.Core" />
    <alias alias="JobInvitesDetailsRepository" type="SSH.Repository.JobInvitesDetailsRepository, SSH.Repository" />

    <alias alias="IJobInvitesRepository" type="SSH.Core.IRepository.IJobInvitesRepository, SSH.Core" />
    <alias alias="JobInvitesRepository" type="SSH.Repository.JobInvitesRepository, SSH.Repository" />

    <alias alias="IJobItemRepository" type="SSH.Core.IRepository.IJobItemRepository, SSH.Core" />
    <alias alias="JobItemRepository" type="SSH.Repository.JobItemRepository, SSH.Repository" />

    <alias alias="IJobsRepository" type="SSH.Core.IRepository.IJobsRepository, SSH.Core" />
    <alias alias="JobsRepository" type="SSH.Repository.JobsRepository, SSH.Repository" />

    <alias alias="IJobTypeRepository" type="SSH.Core.IRepository.IJobTypeRepository, SSH.Core" />
    <alias alias="JobTypeRepository" type="SSH.Repository.JobTypeRepository, SSH.Repository" />

    <alias alias="ISubstationRepository" type="SSH.Core.IRepository.ISubstationRepository, SSH.Core" />
    <alias alias="SubstationRepository" type="SSH.Repository.SubstationRepository, SSH.Repository" />

    <alias alias="ITrainingsRepository" type="SSH.Core.IRepository.ITrainingsRepository, SSH.Core" />
    <alias alias="TrainingsRepository" type="SSH.Repository.TrainingsRepository, SSH.Repository" />

    <alias alias="IDPTrainingsRepository" type="SSH.Core.IRepository.IDPTrainingsRepository, SSH.Core" />
    <alias alias="DPTrainingsRepository" type="SSH.Repository.DPTrainingsRepository, SSH.Repository" />

    <alias alias="IPaymentsRepository" type="SSH.Core.IRepository.IPaymentsRepository, SSH.Core" />
    <alias alias="PaymentsRepository" type="SSH.Repository.PaymentsRepository, SSH.Repository" />

    <alias alias="IPaymentDetailRepository" type="SSH.Core.IRepository.IPaymentDetailRepository, SSH.Core" />
    <alias alias="PaymentDetailRepository" type="SSH.Repository.PaymentDetailRepository, SSH.Repository" />

    <alias alias="IDPDuesRepository" type="SSH.Core.IRepository.IDPDuesRepository, SSH.Core" />
    <alias alias="DPDuesRepository" type="SSH.Repository.DPDuesRepository, SSH.Repository" />
    
    <alias alias="IDocumentsRepository" type="SSH.Core.IRepository.IDocumentsRepository, SSH.Core" />
    <alias alias="DocumentsRepository" type="SSH.Repository.DocumentsRepository, SSH.Repository" />

    <alias alias="IImageResourceRepository" type="SSH.Core.IRepository.IImageResourceRepository, SSH.Core" />
    <alias alias="ImageResourceRepository" type="SSH.Repository.ImageResourceRepository, SSH.Repository" />

    <alias alias="IDeliveryPartnerRepository" type="SSH.Core.IRepository.IDeliveryPartnerRepository, SSH.Core" />
    <alias alias="DeliveryPartnerRepository" type="SSH.Repository.DeliveryPartnerRepository, SSH.Repository" />

    <alias alias="IDeliveryPartnerCategoryRepository" type="SSH.Core.IRepository.IDeliveryPartnerCategoryRepository, SSH.Core" />
    <alias alias="DeliveryPartnerCategoryRepository" type="SSH.Repository.DeliveryPartnerCategoryRepository, SSH.Repository" />

    <alias alias="ILOVRepository" type="SSH.Core.IRepository.ILOVRepository, SSH.Core" />
    <alias alias="LOVRepository" type="SSH.Repository.LOVRepository, SSH.Repository" />

    <alias alias="IUserRolePermissionRepository" type="SSH.Core.IRepository.IUserRolePermissionRepository, SSH.Core" />
    <alias alias="UserRolePermissionRepository" type="SSH.Repository.UserRolePermissionRepository, SSH.Repository" />

    <alias alias="IRoleRepository" type="SSH.Core.IRepository.IRoleRepository, SSH.Core" />
    <alias alias="RoleRepository" type="SSH.Repository.RoleRepository, SSH.Repository" />

    <alias alias="IPermissionRepository" type="SSH.Core.IRepository.IPermissionRepository, SSH.Core" />
    <alias alias="PermissionRepository" type="SSH.Repository.PermissionRepository, SSH.Repository" />

    <alias alias="IUserSessionRepository" type="SSH.Core.IRepository.IUserSessionRepository, SSH.Core" />
    <alias alias="UserSessionRepository" type="SSH.Repository.UserSessionRepository, SSH.Repository" />
    
    <alias alias="IDashboardSummaryRepository" type="SSH.Core.IRepository.IDashboardSummaryRepository, SSH.Core" />
    <alias alias="DashboardSummaryRepository" type="SSH.Repository.DashboardSummaryRepository, SSH.Repository" />

    <alias alias="ITermsAndConditionsRepository" type="SSH.Core.IRepository.ITermsAndConditionsRepository, SSH.Core" />
    <alias alias="TermsAndConditionsRepository" type="SSH.Repository.TermsAndConditionsRepository, SSH.Repository" />

    <alias alias="IPaymentSummaryRepository" type="SSH.Core.IRepository.IPaymentSummaryRepository, SSH.Core" />
    <alias alias="PaymentSummaryRepository" type="SSH.Repository.PaymentSummaryRepository, SSH.Repository" />

    <alias alias="IThirdPartyDatabaseRepository" type="SSH.Core.IRepository.IThirdPartyDatabaseRepository, SSH.Core" />
    <alias alias="ThirdPartyDatabaseRepository" type="SSH.Repository.ThirdPartyDatabaseRepository, SSH.Repository" />

    <alias alias="ICountryRepository" type="SSH.Core.IRepository.ICountryRepository, SSH.Core" />
    <alias alias="CountryRepository" type="SSH.Repository.CountryRepository, SSH.Repository" />

    <alias alias="IDPCategorySummaryRepository" type="SSH.Core.IRepository.IDPCategorySummaryRepository, SSH.Core" />
    <alias alias="DPCategorySummaryRepository" type="SSH.Repository.DPCategorySummaryRepository, SSH.Repository" />

    <alias alias="IDPEarningsRepository" type="SSH.Core.IRepository.IDPEarningsRepository, SSH.Core" />
    <alias alias="DPEarningsRepository" type="SSH.Repository.DPEarningsRepository, SSH.Repository" />

    <alias alias="IConnectedJobsRepository" type="SSH.Core.IRepository.IConnectedJobsRepository, SSH.Core" />
    <alias alias="ConnectedJobsRepository" type="SSH.Repository.ConnectedJobsRepository, SSH.Repository" />

    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IAuditService" type="SSH.Core.IService.IAuditService, SSH.Core" />
    <alias alias="AuditService" type="SSH.Service.AuditService, SSH.Service" />

    <alias alias="IUserService" type="SSH.Core.IService.IUserService, SSH.Core" />
    <alias alias="UserService" type="SSH.Service.UserService, SSH.Service" />

    <alias alias="IConfigurationService" type="SSH.Core.IService.IConfigurationService, SSH.Core" />
    <alias alias="ConfigurationService" type="SSH.Service.ConfigurationService, SSH.Service" />

    <alias alias="IEmailNotificationService" type="SSH.Core.IService.IEmailNotificationService, SSH.Core" />
    <alias alias="EmailNotificationService" type="SSH.Service.EmailNotificationService, SSH.Service" />

    <alias alias="IOTPService" type="SSH.Core.IService.IOTPService, SSH.Core" />
    <alias alias="OTPService" type="SSH.Service.OTPService, SSH.Service" />

    <alias alias="IItemService" type="SSH.Core.IService.IItemService, SSH.Core" />
    <alias alias="ItemService" type="SSH.Service.ItemService, SSH.Service" />

    <alias alias="IPushNotificationService" type="SSH.Core.IService.IPushNotificationService, SSH.Core" />
    <alias alias="PushNotificationService" type="SSH.Service.PushNotificationService, SSH.Service" />

    <alias alias="IJobAssignmentDetailsService" type="SSH.Core.IService.IJobAssignmentDetailsService, SSH.Core" />
    <alias alias="JobAssignmentDetailsService" type="SSH.Service.JobAssignmentDetailsService, SSH.Service" />

    <alias alias="IJobAssignmentService" type="SSH.Core.IService.IJobAssignmentService, SSH.Core" />
    <alias alias="JobAssignmentService" type="SSH.Service.JobAssignmentService, SSH.Service" />

    <alias alias="IJobDocumentsService" type="SSH.Core.IService.IJobDocumentsService, SSH.Core" />
    <alias alias="JobDocumentsService" type="SSH.Service.JobDocumentsService, SSH.Service" />

    <alias alias="IJobExceptionsService" type="SSH.Core.IService.IJobExceptionsService, SSH.Core" />
    <alias alias="JobExceptionsService" type="SSH.Service.JobExceptionsService, SSH.Service" />

    <alias alias="IJobInvitesDetailsService" type="SSH.Core.IService.IJobInvitesDetailsService, SSH.Core" />
    <alias alias="JobInvitesDetailsService" type="SSH.Service.JobInvitesDetailsService, SSH.Service" />

    <alias alias="IJobInvitesService" type="SSH.Core.IService.IJobInvitesService, SSH.Core" />
    <alias alias="JobInvitesService" type="SSH.Service.JobInvitesService, SSH.Service" />

    <alias alias="IJobItemService" type="SSH.Core.IService.IJobItemService, SSH.Core" />
    <alias alias="JobItemService" type="SSH.Service.JobItemService, SSH.Service" />

    <alias alias="IJobsService" type="SSH.Core.IService.IJobsService, SSH.Core" />
    <alias alias="JobsService" type="SSH.Service.JobsService, SSH.Service" />

    <alias alias="IJobTypeService" type="SSH.Core.IService.IJobTypeService, SSH.Core" />
    <alias alias="JobTypeService" type="SSH.Service.JobTypeService, SSH.Service" />

    <alias alias="IDPDuesService" type="SSH.Core.IService.IDPDuesService, SSH.Core" />
    <alias alias="DPDuesService" type="SSH.Service.DPDuesService, SSH.Service" />

    <alias alias="IPaymentDetailService" type="SSH.Core.IService.IPaymentDetailService, SSH.Core" />
    <alias alias="PaymentDetailService" type="SSH.Service.PaymentDetailService, SSH.Service" />

    <alias alias="IPaymentsService" type="SSH.Core.IService.IPaymentsService, SSH.Core" />
    <alias alias="PaymentsService" type="SSH.Service.PaymentsService, SSH.Service" />

    <alias alias="IDPTrainingsService" type="SSH.Core.IService.IDPTrainingsService, SSH.Core" />
    <alias alias="DPTrainingsService" type="SSH.Service.DPTrainingsService, SSH.Service" />

    <alias alias="ISubstationService" type="SSH.Core.IService.ISubstationService, SSH.Core" />
    <alias alias="SubstationService" type="SSH.Service.SubstationService, SSH.Service" />

    <alias alias="ITrainingsService" type="SSH.Core.IService.ITrainingsService, SSH.Core" />
    <alias alias="TrainingsService" type="SSH.Service.TrainingsService, SSH.Service" />
    
    <alias alias="IDocumentsService" type="SSH.Core.IService.IDocumentsService, SSH.Core" />
    <alias alias="DocumentsService" type="SSH.Service.DocumentsService, SSH.Service" />

    <alias alias="IImageResourceService" type="SSH.Core.IService.IImageResourceService, SSH.Core" />
    <alias alias="ImageResourceService" type="SSH.Service.ImageResourceService, SSH.Service" />

    <alias alias="IDeliveryPartnerService" type="SSH.Core.IService.IDeliveryPartnerService, SSH.Core" />
    <alias alias="DeliveryPartnerService" type="SSH.Service.DeliveryPartnerService, SSH.Service" />

    <alias alias="IDeliveryPartnerCategoryService" type="SSH.Core.IService.IDeliveryPartnerCategoryService, SSH.Core" />
    <alias alias="DeliveryPartnerCategoryService" type="SSH.Service.DeliveryPartnerCategoryService, SSH.Service" />

    <alias alias="ILOVService" type="SSH.Core.IService.ILOVService, SSH.Core" />
    <alias alias="LOVService" type="SSH.Service.LOVService, SSH.Service" />

    <alias alias="IAuthService" type="SSH.Core.IService.IAuthService, SSH.Core" />
    <alias alias="AuthService" type="SSH.Service.AuthService, SSH.Service" />

    <alias alias="IThirdPartyDatabaseService" type="SSH.Core.IService.IThirdPartyDatabaseService, SSH.Core" />
    <alias alias="ThirdPartyDatabaseService" type="SSH.Service.ThirdPartyDatabaseService, SSH.Service" />

    <alias alias="ICountryService" type="SSH.Core.IService.ICountryService, SSH.Core" />
    <alias alias="CountryService" type="SSH.Service.CountryService, SSH.Service" />

    <alias alias="IUserRolePermissionService" type="SSH.Core.IService.IUserRolePermissionService, SSH.Core" />
    <alias alias="UserRolePermissionService" type="SSH.Service.UserRolePermissionService, SSH.Service" />

    <alias alias="IRoleService" type="SSH.Core.IService.IRoleService, SSH.Core" />
    <alias alias="RoleService" type="SSH.Service.RoleService, SSH.Service" />

    <alias alias="IPermissionService" type="SSH.Core.IService.IPermissionService, SSH.Core" />
    <alias alias="PermissionService" type="SSH.Service.PermissionService, SSH.Service" />

    <alias alias="IUserSessionService" type="SSH.Core.IService.IUserSessionService, SSH.Core" />
    <alias alias="UserSessionService" type="SSH.Service.UserSessionService, SSH.Service" />
    
    <alias alias="IDashboardSummaryService" type="SSH.Core.IService.IDashboardSummaryService, SSH.Core" />
    <alias alias="DashboardSummaryService" type="SSH.Service.DashboardSummaryService, SSH.Service" />

    <alias alias="ITermsAndConditionsService" type="SSH.Core.IService.ITermsAndConditionsService, SSH.Core" />
    <alias alias="TermsAndConditionsService" type="SSH.Service.TermsAndConditionsService, SSH.Service" />

    <alias alias="IPaymentSummaryService" type="SSH.Core.IService.IPaymentSummaryService, SSH.Core" />
    <alias alias="PaymentSummaryService" type="SSH.Service.PaymentSummaryService, SSH.Service" />

    <alias alias="IDPEarningsService" type="SSH.Core.IService.IDPEarningsService, SSH.Core" />
    <alias alias="DPEarningsService" type="SSH.Service.DPEarningsService, SSH.Service" />

    <alias alias="IDPCategorySummaryService" type="SSH.Core.IService.IDPCategorySummaryService, SSH.Core" />
    <alias alias="DPCategorySummaryService" type="SSH.Service.DPCategorySummaryService, SSH.Service" />

    <alias alias="IConnectedJobsService" type="SSH.Core.IService.IConnectedJobsService, SSH.Core" />
    <alias alias="ConnectedJobsService" type="SSH.Service.ConnectedJobsService, SSH.Service" />

    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />
      <register type="ISSHRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="ApplicationUserStore" mapTo="ApplicationUserStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>
      <register type="ApplicationRoleStore" mapTo="ApplicationRoleStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>

      <register type="ApplicationRoleManager" mapTo="ApplicationRoleManager" />
      <register type="ApplicationUserManager" mapTo="ApplicationUserManager" />
      <register type="IExceptionHelper" mapTo="ExceptionHelper" />
      <register type="IHangfireIntegeration" mapTo="HangfireIntegeration" />
      <register type="ISSHUnitOfWork" mapTo="UnitOfWork" />
      <register type="IAuditRepository" mapTo="AuditRepository" />
      <register type="IUserRepository" mapTo="UserRepository" />
      <register type="IEmailNotificationRepository" mapTo="EmailNotificationRepository" />
      <register type="IOTPRepository" mapTo="OTPRepository" />
      <register type="IDocumentsRepository" mapTo="DocumentsRepository" />
      <register type="IImageResourceRepository" mapTo="ImageResourceRepository" />
      <register type="IDeliveryPartnerRepository" mapTo="DeliveryPartnerRepository" />
      <register type="IDeliveryPartnerCategoryRepository" mapTo="DeliveryPartnerCategoryRepository" />
      <register type="ILOVRepository" mapTo="LOVRepository" />
      <register type="IUserRolePermissionRepository" mapTo="UserRolePermissionRepository" />
      <register type="IRoleRepository" mapTo="RoleRepository" />
      <register type="IPermissionRepository" mapTo="PermissionRepository" />
      <register type="IUserSessionRepository" mapTo="UserSessionRepository" />
      <register type="IItemRepository" mapTo="ItemRepository" />
      <register type="IPushNotificationRepository" mapTo="PushNotificationRepository" />
      <register type="IJobAssignmentDetailsRepository" mapTo="JobAssignmentDetailsRepository" />
      <register type="IJobAssignmentRepository" mapTo="JobAssignmentRepository" />
      <register type="IJobDocumentsRepository" mapTo="JobDocumentsRepository" />
      <register type="IJobExceptionsRepository" mapTo="JobExceptionsRepository" />
      <register type="IJobInvitesDetailsRepository" mapTo="JobInvitesDetailsRepository" />
      <register type="IJobInvitesRepository" mapTo="JobInvitesRepository" />
      <register type="IJobItemRepository" mapTo="JobItemRepository" />
      <register type="IJobsRepository" mapTo="JobsRepository" />
      <register type="IJobTypeRepository" mapTo="JobTypeRepository" />
      <register type="ISubstationRepository" mapTo="SubstationRepository" />
      <register type="ITrainingsRepository" mapTo="TrainingsRepository" />
      <register type="IDPTrainingsRepository" mapTo="DPTrainingsRepository" />
      <register type="IPaymentsRepository" mapTo="PaymentsRepository" />
      <register type="IPaymentDetailRepository" mapTo="PaymentDetailRepository" />
      <register type="IDPDuesRepository" mapTo="DPDuesRepository" />
      <register type="IDashboardSummaryRepository" mapTo="DashboardSummaryRepository" />
      <register type="ITermsAndConditionsRepository" mapTo="TermsAndConditionsRepository" />
      <register type="IPaymentSummaryRepository" mapTo="PaymentSummaryRepository" />
      <register type="IThirdPartyDatabaseRepository" mapTo="ThirdPartyDatabaseRepository" />
      <register type="ICountryRepository" mapTo="CountryRepository" />
      <register type="IDPEarningsRepository" mapTo="DPEarningsRepository" />
      <register type="IDPCategorySummaryRepository" mapTo="DPCategorySummaryRepository" />
      <register type="IConnectedJobsRepository" mapTo="ConnectedJobsRepository" />

      <register type="IAuthService" mapTo="AuthService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IThirdPartyDatabaseService" mapTo="ThirdPartyDatabaseService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ICountryService" mapTo="CountryService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDPEarningsService" mapTo="DPEarningsService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDPCategorySummaryService" mapTo="DPCategorySummaryService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IAuditService" mapTo="AuditService" />

      <register type="IUserService" mapTo="UserService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
        
      <register type="ILOVService" mapTo="LOVService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IUserRolePermissionService" mapTo="UserRolePermissionService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IRoleService" mapTo="RoleService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IPermissionService" mapTo="PermissionService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IUserSessionService" mapTo="UserSessionService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IConfigurationService" mapTo="ConfigurationService" />
      <register type="IEmailNotificationService" mapTo="EmailNotificationService" />
      
      <register type="IOTPService" mapTo="OTPService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDocumentsService" mapTo="DocumentsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IImageResourceService" mapTo="ImageResourceService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDeliveryPartnerService" mapTo="DeliveryPartnerService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDeliveryPartnerCategoryService" mapTo="DeliveryPartnerCategoryService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IItemService" mapTo="ItemService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IPushNotificationService" mapTo="PushNotificationService" >
      </register>

      <register type="IJobAssignmentDetailsService" mapTo="JobAssignmentDetailsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobAssignmentService" mapTo="JobAssignmentService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobDocumentsService" mapTo="JobDocumentsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobExceptionsService" mapTo="JobExceptionsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobInvitesDetailsService" mapTo="JobInvitesDetailsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobInvitesService" mapTo="JobInvitesService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobItemService" mapTo="JobItemService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IJobsService" mapTo="JobsService" >
        
      </register>

      <register type="IJobTypeService" mapTo="JobTypeService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDPDuesService" mapTo="DPDuesService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IPaymentDetailService" mapTo="PaymentDetailService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IPaymentsService" mapTo="PaymentsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IDPTrainingsService" mapTo="DPTrainingsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ISubstationService" mapTo="SubstationService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="ITrainingsService" mapTo="TrainingsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IDashboardSummaryService" mapTo="DashboardSummaryService" >
        
      </register>

      <register type="ITermsAndConditionsService" mapTo="TermsAndConditionsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IPaymentSummaryService" mapTo="PaymentSummaryService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IConnectedJobsService" mapTo="ConnectedJobsService" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

    </container>
  </unity>
</configuration>
