<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <!--local-->
    <add name="DefaultConnectionString" connectionString="Persist Security Info=true;Server=aa1dzrsu4gwx320.c3qe0gdxs0ac.us-east-2.rds.amazonaws.com,1433;Database=SSH;user Id=zanikweb;Password=wnLGpp$smk7=kCrs" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DeploymentURL" value="http://10.0.0.34/" />

    <add key="SystemProcess" value="SSHService" />

    <add key="LdapDomain" value="domain.local" />

    <add key="LdapPort" value="389" />

    <add key="LdapConnectionString" value="CN={0},OU=staff,DC=domain,DC=local" />

    <add key="LdapUserName" value="fh_bind" />

    <add key="LdapPassword" value="password" />

    <add key="LdapRole" value="CN={0},OU=staff,DC=domain,DC=local" />

    <add key="LdapSearchType" value="OU=staff,DC=domain,DC=local" />
    
    <add key="MaxPasswordRetryCount" value="3" />
	
	  <add key="GoogleMapUrl" value="http://maps.googleapis.com/maps/api/staticmap?center={0}&amp;zoom=16&amp;size=400x400&amp;maptype=roadmap&amp;markers=color:red%7Clabel:S%7C{1}&amp;sensor=false" />

    <add key="AnonymousApiToken" value="b2e684d7-8807-4232-b5fc-1a6e80c175c0" />

    <add key="PortForMobile" value="80" />

    <add key="PortForMobileFilePath" value="C:\Logs\PortLog.txt" />

    <add key="TwilioAccountSID" value="AC6dbfb274fa92e617f256e576d4abefa6" />

    <add key="TwilioAuthToken" value="b991a163f662c5f02ab94de281bdd53d" />

    <add key="DefaultRadius" value="10" />

    <add key="SearchDriverRadius" value="50" />

    <add key="SecondAttemptDefaultRadius" value="20" />
    
    <add key="SearchSubstationRadius" value="50" />
    
    <add key="JobExpiryMinutes" value="10" />

    <add key="CacheControlTime" value="5" />
    
    <add key="RefreshTokenExpiryTimeInSeconds" value="604800" />

    <add key="SENDGRID_API_KEY" value="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" />

    <add key="FromEmail" value="SSHexpress.10p@gmail.com" />
    
    <add key="SENDGRID_API" value="https://api.sendgrid.com/v3/mail/send" />
    
    <add key="PushNotificationServerId" value="key=AAAACZHf3lo:APA91bEU-760YHWbSP_gSxe4ZvufIEVDw6K4_QT5-btgNW_xinlszxshJdk2Eooq4KfSiFw7Ex_kvGGi6YcgYjzi0LQmj84zNHY7e90KtObpcVHdhCHJXG1IdZzuWYoqdq5Q5quYkwYy" />

    <add key="SMSUserName" value="ashickali" />

    <add key="SMSPassword" value="ashickali" />

    <add key="SMSSender" value="SSH-Test" />

    <add key="OTPExpiry" value="15" />
    
    <add key="RedisConnection" value="SSH-cache-stg.redis.cache.windows.net:6380,password=i+imNBRBgVrwRgnHDvvPFc98oyq2MdAs/kppKvjWux8=,ssl=True,abortConnect=False" />

    <add key="GoogleLocationApi" value="https://maps.googleapis.com/maps/api/geocode/json?latlng={0},{1}&amp;key={2}" />
    
    <add key="GoogleLocationApiKey" value="AIzaSyCkbeenKwgS9DkyIiZTjavJIBp11fRyvgk" />
  
    <add key="AzureBlobStorageName" value="SSHstorage" />
    <add key="AzureBlobStorageKey" value="sED3uJgEL9EhC5KSJ3j74eJbC1Yb5sYv00dOmDJHWRNBMRct2ipsNAYab9H5eNS9Zpo4Upq8bZGVYisuo6/3rA==" />
    <add key="AzureBlobStorageUrl" value="https://SSHstorage.blob.core.windows.net" />
    <add key="AzureBlobStorageContainer" value="SSHcontainer" />
  
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
	      <add name="Access-Control-Allow-Headers" value="Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers,Authorization" />
      	<add name="Access-Control-Allow-Methods" value="GET,HEAD,OPTIONS,POST,PUT" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="WebDAVModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add path="controlpanel.axd" verb="*" type="ControlPanel.Core.ControlPanelHandler" name="controlpanel" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
       <!--<remove name="OPTIONSVerbHandler" />  -->
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <!--<parameters>
        <parameter value="mssqllocaldb" />
      </parameters>-->
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DefaultConnectionString" />
    <security allowRemoteAccess="false" />
  </elmah>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>

  <location path="controlpanel.axd">
    <system.web>
      <!--<authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>-->
    </system.web>
  </location>
 <system.net>
  <mailSettings>
    <smtp from="SSHexpress.10p@gmail.com" deliveryMethod="Network">
      <network host="smtp.gmail.com" defaultCredentials="false" userName="SSHexpress.10p@gmail.com" password="SSH10p2017" enableSsl="true" port="587" />
    </smtp>
  </mailSettings>
 </system.net>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
