<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Start RequestInfo context type alias -->
    <alias alias="ISSHRequestInfo" type="SSH.Core.Infrastructure.ISSHRequestInfo, SSH.Core" />
    <alias alias="RequestInfo" type="SSH.Core.Infrastructure.RequestInfo, SSH.Core" />
    <!-- End RequestInfo context type alias -->

    <alias alias="ApplicationUserStore" type="SSH.Core.Infrastructure.ApplicationUserStore, SSH.Core" />
    <alias alias="ApplicationUserManager" type="SSH.Core.Infrastructure.ApplicationUserManager, SSH.Core"/>

    <alias alias="ApplicationRoleManager" type="SSH.Core.Infrastructure.ApplicationRoleManager, SSH.Core" />
    <alias alias="ApplicationRoleStore" type="SSH.Core.Infrastructure.ApplicationRoleStore, SSH.Core"/>

    <alias alias="IExceptionHelper" type="SSH.Core.Infrastructure.IExceptionHelper, SSH.Core" />
    <alias alias="ExceptionHelper" type="SSH.Core.Infrastructure.ExceptionHelper, SSH.Core"/>

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ISSHUnitOfWork" type="SSH.Core.IRepository.ISSHUnitOfWork, SSH.Core" />
    <alias alias="UnitOfWork" type="SSH.Repository.UnitOfWork, SSH.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->


    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IAuditRepository" type="SSH.Core.IRepository.IAuditRepository, SSH.Core" />
    <alias alias="AuditRepository" type="SSH.Repository.AuditRepository, SSH.Repository" />

    <alias alias="IUserRepository" type="SSH.Core.IRepository.IUserRepository, SSH.Core" />
    <alias alias="UserRepository" type="SSH.Repository.UserRepository, SSH.Repository" />

    <alias alias="IResourceKeyRepository" type="SSH.Core.IRepository.IResourceKeyRepository, SSH.Core" />
    <alias alias="ResourceKeyRepository" type="SSH.Repository.ResourceKeyRepository, SSH.Repository" />

    <alias alias="ILanguageResourceRepository" type="SSH.Core.IRepository.ILanguageResourceRepository, SSH.Core" />
    <alias alias="LanguageResourceRepository" type="SSH.Repository.LanguageResourceRepository, SSH.Repository" />

    <alias alias="ITemplateRepository" type="SSH.Core.IRepository.ITemplateRepository, SSH.Core" />
    <alias alias="TemplateRepository" type="SSH.Repository.TemplateRepository, SSH.Repository" />

    <alias alias="INotificationRepository" type="SSH.Core.IRepository.INotificationRepository, SSH.Core" />
    <alias alias="NotificationRepository" type="SSH.Repository.NotificationRepository, SSH.Repository" />

    <alias alias="IEmailNotificationRepository" type="SSH.Core.IRepository.IEmailNotificationRepository, SSH.Core" />
    <alias alias="EmailNotificationRepository" type="SSH.Repository.EmailNotificationRepository, SSH.Repository" />

    <alias alias="IPushNotificationRepository" type="SSH.Core.IRepository.IPushNotificationRepository, SSH.Core" />
    <alias alias="PushNotificationRepository" type="SSH.Repository.PushNotificationRepository, SSH.Repository" />

    <alias alias="ILOVRepository" type="SSH.Core.IRepository.ILOVRepository, SSH.Core" />
    <alias alias="LOVRepository" type="SSH.Repository.LOVRepository, SSH.Repository" />

    <alias alias="IResourceRepository" type="SSH.Core.IRepository.IResourceRepository, SSH.Core" />
    <alias alias="ResourceRepository" type="SSH.Repository.ResourceRepository, SSH.Repository" />

    <alias alias="IServiceModelRepository" type="SSH.Core.IRepository.IServiceModelRepository, SSH.Core" />
    <alias alias="ServiceModelRepository" type="SSH.Repository.ServiceModelRepository, SSH.Repository" />

    <alias alias="IDeviceRepository" type="SSH.Core.IRepository.IDeviceRepository, SSH.Core" />
    <alias alias="DeviceRepository" type="SSH.Repository.DeviceRepository, SSH.Repository" />

    <alias alias="IUserRolePermissionRepository" type="SSH.Core.IRepository.IUserRolePermissionRepository, SSH.Core" />
    <alias alias="UserRolePermissionRepository" type="SSH.Repository.UserRolePermissionRepository, SSH.Repository" />

    <alias alias="IRoleRepository" type="SSH.Core.IRepository.IRoleRepository, SSH.Core" />
    <alias alias="RoleRepository" type="SSH.Repository.RoleRepository, SSH.Repository" />

    <alias alias="IChangeRequestRepository" type="SSH.Core.IRepository.IChangeRequestRepository, SSH.Core" />
    <alias alias="ChangeRequestRepository" type="SSH.Repository.ChangeRequestRepository, SSH.Repository" />
    
    <alias alias="IReportRepository" type="SSH.Core.IRepository.IReportRepository, SSH.Core" />
    <alias alias="ReportRepository" type="SSH.Repository.ReportRepository, SSH.Repository" />

    <alias alias="IPermissionRepository" type="SSH.Core.IRepository.IPermissionRepository, SSH.Core" />
    <alias alias="PermissionRepository" type="SSH.Repository.PermissionRepository, SSH.Repository" />

    <alias alias="IUserReportPermissionRepository" type="SSH.Core.IRepository.IUserReportPermissionRepository, SSH.Core" />
    <alias alias="UserReportPermissionRepository" type="SSH.Repository.UserReportPermissionRepository, SSH.Repository" />

    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IAuditService" type="SSH.Core.IService.IAuditService, SSH.Core" />
    <alias alias="AuditService" type="SSH.Service.AuditService, SSH.Service" />

    <alias alias="IUserService" type="SSH.Core.IService.IUserService, SSH.Core" />
    <alias alias="UserService" type="SSH.Service.UserService, SSH.Service" />

    <alias alias="IConfigurationService" type="SSH.Core.IService.IConfigurationService, SSH.Core" />
    <alias alias="ConfigurationService" type="SSH.Service.ConfigurationService, SSH.Service" />

    <alias alias="INotificationService" type="SSH.Core.IService.INotificationService, SSH.Core" />
    <alias alias="NotificationService" type="SSH.Service.NotificationService, SSH.Service" />

    <alias alias="IEmailNotificationService" type="SSH.Core.IService.IEmailNotificationService, SSH.Core" />
    <alias alias="EmailNotificationService" type="SSH.Service.EmailNotificationService, SSH.Service" />

    <alias alias="ILOVService" type="SSH.Core.IService.ILOVService, SSH.Core" />
    <alias alias="LOVService" type="SSH.Service.LOVService, SSH.Service" />

    <alias alias="IAuthService" type="SSH.Core.IService.IAuthService, SSH.Core" />
    <alias alias="AuthService" type="SSH.Service.AuthService, SSH.Service" />

    <alias alias="IDeviceService" type="SSH.Core.IService.IDeviceService, SSH.Core" />
    <alias alias="DeviceService" type="SSH.Service.DeviceService, SSH.Service" />

    <alias alias="IBPMService" type="SSH.Core.IService.IBPMService, SSH.Core" />
    <alias alias="BPMService" type="SSH.Service.BPMService, SSH.Service" />

    <alias alias="IBPMHelper" type="SSH.Core.Infrastructure.IBPMHelper, SSH.Core" />
    <alias alias="BPMHelper" type="SSH.Integration.BPMHelper, SSH.Integration" />

    <alias alias="IUserRolePermissionService" type="SSH.Core.IService.IUserRolePermissionService, SSH.Core" />
    <alias alias="UserRolePermissionService" type="SSH.Service.UserRolePermissionService, SSH.Service" />

    <alias alias="IRoleService" type="SSH.Core.IService.IRoleService, SSH.Core" />
    <alias alias="RoleService" type="SSH.Service.RoleService, SSH.Service" />


    <alias alias="IChangeRequestService" type="SSH.Core.IService.IChangeRequestService, SSH.Core" />
    <alias alias="ChangeRequestService" type="SSH.Service.ChangeRequestService, SSH.Service" />

    <alias alias="IReportService" type="SSH.Core.IService.IReportService, SSH.Core" />
    <alias alias="ReportService" type="SSH.Service.ReportService, SSH.Service" />

    <alias alias="IPermissionService" type="SSH.Core.IService.IPermissionService, SSH.Core" />
    <alias alias="PermissionService" type="SSH.Service.PermissionService, SSH.Service" />

    <alias alias="IUserReportPermissionService" type="SSH.Core.IService.IUserReportPermissionService, SSH.Core" />
    <alias alias="UserReportPermissionService" type="SSH.Service.UserReportPermissionService, SSH.Service" />


    <!-- End User-defined type aliases for Services -->

    <container>
      
      <register type="ISSHRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="ApplicationUserStore" mapTo="ApplicationUserStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>
      <register type="ApplicationRoleStore" mapTo="ApplicationRoleStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>

      <register type="ApplicationRoleManager" mapTo="ApplicationRoleManager" />
      <register type="ApplicationUserManager" mapTo="ApplicationUserManager" />
      <register type="IExceptionHelper" mapTo="ExceptionHelper" />
      
      <register type="ISSHUnitOfWork" mapTo="UnitOfWork" />

      <register type="IAuditRepository" mapTo="AuditRepository" />

      <register type="IUserRepository" mapTo="UserRepository" />

      <register type="IResourceKeyRepository" mapTo="ResourceKeyRepository" />
      <register type="ILanguageResourceRepository" mapTo="LanguageResourceRepository" />
      <register type="ITemplateRepository" mapTo="TemplateRepository" />
      <register type="INotificationRepository" mapTo="NotificationRepository" />
      <register type="IEmailNotificationRepository" mapTo="EmailNotificationRepository" />
      <register type="IPushNotificationRepository" mapTo="PushNotificationRepository" />
      <register type="ILOVRepository" mapTo="LOVRepository" />
      <register type="IResourceRepository" mapTo="ResourceRepository" />
      <register type="IDeviceRepository" mapTo="DeviceRepository" />
      <register type="IUserRolePermissionRepository" mapTo="UserRolePermissionRepository" />
      <register type="IRoleRepository" mapTo="RoleRepository" />

      <register type="IChangeRequestRepository" mapTo="ChangeRequestRepository" />

      <register type="IReportRepository" mapTo="ReportRepository" />
      <register type="IPermissionRepository" mapTo="PermissionRepository" />
      <register type="IUserReportPermissionRepository" mapTo="UserReportPermissionRepository" />


      <register type="IBPMService" mapTo="BPMService">
        
      </register>

      <register type="IBPMHelper" mapTo="BPMHelper">
      </register>

      <register type="IAuthService" mapTo="AuthService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IAuditService" mapTo="AuditService" />

      <register type="IUserService" mapTo="UserService">
        
      </register>
        
      <register type="ILOVService" mapTo="LOVService">
      </register>
      
       <register type="IDeviceService" mapTo="DeviceService">
      </register>

      <register type="IUserRolePermissionService" mapTo="UserRolePermissionService">
      </register>
      
      <register type="IRoleService" mapTo="RoleService">
      </register>


      <register type="IChangeRequestService" mapTo="ChangeRequestService">
      </register>
      

      <register type="IReportService" mapTo="ReportService">
      </register>

      <register type="IPermissionService" mapTo="PermissionService">
      </register>

      <register type="IUserReportPermissionService" mapTo="UserReportPermissionService">
      </register>
  

      <register type="IConfigurationService" mapTo="ConfigurationService" />
      <register type="INotificationService" mapTo="NotificationService" />
      <register type="IEmailNotificationService" mapTo="EmailNotificationService" />
      
    </container>
  </unity>
</configuration>
