<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net45" />
  <package id="CacheManager.StackExchange.Redis" version="1.1.2" targetFramework="net45" />
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="ReportGenerator" version="2.5.9" targetFramework="net45" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net45" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net45" />
</packages>